<!-- <jhi-page-ribbon></jhi-page-ribbon> -->
<div [ngSwitch]="account !== null && account !== undefined">
  <div class="container-fluid" style="margin-top: 30px; width: 100%; position: fixed">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="width: 217px; background-color: rgba(60, 195, 229, 0.83)">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="mt-2 fs-5 d-none d-sm-inline font-size-black2">Menu</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
              <a href="#" class="nav-link link-home px-0 align-middle">
                <span class="ms-1 d-none d-sm-inline font-size-black2"
                  >Info Domicilio
                  <mat-icon class="icon-config-black">contact_support</mat-icon>
                </span></a
              >
            </li>
            <li>
              <a href="#submenu2" data-bs-toggle="collapse" class="nav-link link-home px-0 align-middle">
                <span class="ms-1 d-none d-sm-inline font-size-black2">Idioma</span>
                <mat-icon class="icon-config-black">g_translate</mat-icon>
              </a>
              <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                <li *ngFor="let language of languages">
                  <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language)">{{
                    language | findLanguageFromKey
                  }}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#submenu3" data-bs-toggle="collapse" class="nav-link link-home dropdown-toggle px-0 align-middle">
                <span class="ms-1 d-none d-sm-inline font-size-black2">Productos</span>
                <mat-icon class="icon-config-black">restaurant</mat-icon>
              </a>
              <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                  <a (click)="categoriaProductos()" class="nav-link link-home px-0">
                    <span style="font-size: 13px" class="d-none d-sm-inline font-size-black2">-Ver categorias</span>
                    <mat-icon class="icon-config-black">category</mat-icon></a
                  >
                </li>
                <li>
                  <a [routerLink]="['/pedido/new']" class="nav-link link-home px-0">
                    <span style="font-size: 13px" class="d-none d-sm-inline font-size-black2">-Realizar pedido</span>
                    <mat-icon class="icon-config-black">list_alt</mat-icon></a
                  >
                </li>
                <li>
                  <a href="#" class="nav-link link-home px-0">
                    <span style="font-size: 13px" class="d-none d-sm-inline font-size-black2">-Mis pedidos</span>
                    <mat-icon class="icon-config-black">local_grocery_store</mat-icon></a
                  >
                </li>
                <li>
                  <a [routerLink]="['/factura']" class="nav-link link-home px-0">
                    <span style="font-size: 13px" class="d-none d-sm-inline font-size-black2">-Mis facturas</span>
                    <mat-icon class="icon-config-black">feed</mat-icon></a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a [routerLink]="['/factura/new']" class="nav-link link-home px-0 align-middle">
                <span class="ms-1 d-none d-sm-inline font-size-black2">Realizar Compra</span>
                <mat-icon class="icon-config-black">storefront</mat-icon>
              </a>
            </li>
          </ul>
          <hr />
          <div *ngSwitchCase="false" class="mb-3">
            <p style="color: black">
              En esta seccion de inicio podra ver todo lo relacionado a los productos, categorias, descuentos diarios y mercados.
            </p>
            <span style="color: black">Inicia sesion para realizar tu compra.</span>
          </div>

          <div class="dropdown" style="margin-bottom: 118px">
            <a
              href="#"
              class="d-flex link-home align-items-center text-black text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span *ngSwitchCase="false" style="color: black" class="d-none d-sm-inline mx-1 font-size-home">Iniciar Sesion</span>
              <span *ngSwitchCase="true" style="color: black" class="d-none font-size-white d-sm-inline mx-1 font-size-home">Cuenta</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-light text-small shadow">
              <li>
                <a *ngSwitchCase="true" [routerLink]="['account/password']" class="dropdown-item"
                  >Contraseña
                  <mat-icon class="icon-config-black">lock</mat-icon>
                </a>
              </li>
              <li>
                <a *ngSwitchCase="true" [routerLink]="['account/settings']" class="dropdown-item"
                  >Cuenta
                  <mat-icon class="icon-config-black">admin_panel_settings</mat-icon>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a *ngSwitchCase="true" (click)="logout()" class="dropdown-item" href="#"
                  ><span>Cerrar sesion</span>
                  <mat-icon class="icon-config-black">logout</mat-icon>
                </a>
              </li>
              <li>
                <a *ngSwitchCase="false" class="dropdown-item" [routerLink]="['account/register']"
                  ><span>Crear cuenta</span>
                  <mat-icon class="icon-config-black">person_add_alt</mat-icon>
                </a>
              </li>
              <li>
                <a *ngSwitchCase="false" (click)="login()" class="dropdown-item"
                  ><span>Ingresar</span>
                  <mat-icon class="icon-config-black">logout</mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
<router-outlet name="navbar"></router-outlet>

<div class="container" style="margin-left: 205px">
  <div class="card jh-card">
    <router-outlet style="margin-top: 40px"></router-outlet>
    <jhi-footer style="background-color: white"></jhi-footer>
  </div>
</div>
