<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-caja-heading" data-cy="CajaCreateUpdateHeading" jhiTranslate="mercaExtraApp.caja.home.createOrEditLabel">
        Create or edit a Caja
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.valorTotalDia" for="field_valorTotalDia">Valor Total Dia</label>
          <input
            type="number"
            class="form-control"
            name="valorTotalDia"
            id="field_valorTotalDia"
            data-cy="valorTotalDia"
            formControlName="valorTotalDia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.valorRegistradoDia" for="field_valorRegistradoDia"
            >Valor Registrado Dia</label
          >
          <input
            type="number"
            class="form-control"
            name="valorRegistradoDia"
            id="field_valorRegistradoDia"
            data-cy="valorRegistradoDia"
            formControlName="valorRegistradoDia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.diferencia" for="field_diferencia">Diferencia</label>
          <input
            type="number"
            class="form-control"
            name="diferencia"
            id="field_diferencia"
            data-cy="diferencia"
            formControlName="diferencia"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
