@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

.dropdown-item:hover {
  span {
    color: white;
  }
  .icon-config-black {
    color: white;
  }
}

.v-line {
  border-left: thick solid #000;
  height: 100%;
  left: 50%;
  position: absolute;
}

.text {
  font-size: 28px;
  font-family: helvetica;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 2s;
  animation: pulse 2s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
  --color: #0000de;
  --hover: #0016e0;
}

.menu-config2 {
  background: none;
  border: none;
}

.font-size-white {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: bold;
}

.icon-config {
  position: relative;
  top: 5px;
}

.icon-config2 {
  position: relative;
  top: 10px;
}

.btn-producto-order {
  border: none;
  background-color: #3498db;
  background: none;
}

.btn-producto-order:hover {
  background-color: blueviolet;
  font-size: 22px;
  span {
    color: white;
  }
}

.icon-config-eliminar2 {
  position: relative;
  top: 5px;
}

.icon-config-eliminar2:hover {
  background-color: rgb(255, 134, 134);
  color: #000;
}

.menu-config-eliminar {
  background: none;
  border: none;
  color: red;
}

.icon-config-white {
  position: relative;
  top: 5px;
  color: white;
}

.icon-config-black {
  position: relative;
  top: 5px;
  color: rgb(0, 0, 0);
}

.link-home:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  .font-size-black {
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: bold;
  }
  .icon-config-black {
    position: relative;
    top: 5px;
    color: rgb(95, 0, 191);
  }
}

.style-a-footer {
  text-decoration: none;
  color: #000;
}

.style-a-footer:hover {
  background-color: rgb(177, 127, 224);
  color: white;
  font-size: 22px;
}

.titulos {
  color: rgb(79, 117, 255);
  font-style: normal;
  font-weight: bold;
}

.font-size-black {
  color: rgb(164, 89, 234);
  font-style: normal;
  font-weight: bold;
}

.alert-gray {
  background-color: rgb(212, 212, 212);
}

.list {
  list-style: none;
  margin: 5px;
}

.list-bg {
  background-color: rgba(186, 160, 197, 0.816);
}

.list-text {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.font-size-black2 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: bold;
}

.font-size-entidades {
  color: blueviolet;
  font-style: normal;
  font-weight: bold;
}

.font-size-home {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: bold;
}
.boton-count {
  background-color: white;
  color: black;
}

.font-size-home-white {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: bold;
}

.a-delete {
  color: black;
}
.a-delete:hover {
  border-radius: 60px;
  background-color: rgb(255, 114, 114);
}

.icon-config-delete {
  position: relative;
  top: 5px;
  color: red;
}

.imagen-fondo {
  background: url('../../content/images/imagenfonfo.jpg');
  background-repeat: no-repeat;
}

.text-pattern {
  color: transparent;
  background-image: linear-gradient(to left, #000000, #dadada, #9900ff, #d094f8, #000000);
  background-clip: text;
  animation: color 5s linear infinite;
  background-size: 500%;

  @keyframes color {
    from {
      background-position: 0% 50%;
    }

    to {
      background-position: 100% 50%;
    }
  }
}

.menu-buttons {
  background: none;
  border: none;
}

.menu-buttons:hover {
  background-color: rgb(72, 124, 246);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
  color: rgb(255, 255, 255);
  border-color: white;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
  background-color: rgb(107, 140, 250);
  color: rgb(255, 255, 255);
  border-color: #1702ff;
}

.imagen-fondo2 {
  background: url('../../content/images/imagenfonfo.jpg');
  //background-repeat: no-repeat;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: #f0f0f0;
  background-color: #1e7df8;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */
