<div>
  <h2 id="page-heading" data-cy="PedidoHeading">
    <span class="titulos">Tus Pedidos</span>
    <!-- jhiTranslate="mercaExtraApp.pedido.home.title" -->
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mercaExtraApp.pedido.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pedido"
        [routerLink]="['/pedido/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mercaExtraApp.pedido.home.createLabel"> Create a new Pedido </span>
      </button>
    </div>
  </h2>

  <div *ngIf="pedido" class="d-flex justify-content-around">
    <div class="d-flex flex-column">
      <h2 class="titulos">En camino a tu casa:</h2>

      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="progress-bar-container">
          <div class="progress-bar stripes animated reverse slower">
            <span class="progress-bar-inner"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pedidos?.length === 0">
    <span jhiTranslate="mercaExtraApp.pedido.home.notFound">No pedidos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pedidos && pedidos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.pedido.fechaPedido">Fecha Pedido</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.pedido.direccion">Direccion</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.pedido.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.pedido.infoDomicilio">Info Domicilio</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.pedido.idDomiciliario">Id Domiciliario</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.pedido.idNotificacion">Id Notificacion</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.pedido.idFactura">Id Factura</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pedido', pedido.id, 'view']">{{ pedido.id }}</a>
          </td>
          <td>{{ pedido.fechaPedido | formatMediumDatetime }}</td>
          <td>{{ pedido.direccion }}</td>
          <td>{{ pedido.estado }}</td>
          <td>{{ pedido.infoDomicilio }}</td>
          <td>{{ pedido.idDomiciliario }}</td>
          <td>{{ pedido.idNotificacion }}</td>
          <td>{{ pedido.idFactura }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pedido', pedido.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pedido', pedido.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pedido)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
